.container {
	background-color: grey;
	width: 450px;
	height: 550px;
	border-radius: 15px;
}

.startView .title {
	font-size: 5em;
}

.startView .caption {
	font-size: 2em;
}

.button {
	border-radius: 5px;
	border-color: black;
	background-color: white;
	font-weight: bold;
	font-size: 2em;
	cursor: pointer;
	cursor: hand;
}